<div class="f-dlex flex-row">
<div class="float-start">
  <a *ngIf="task.father" routerLink="/task/{{task.father}}">{{fatherName}}</a>
</div>
<div class="float-end"><a routerLink="/">Home</a></div>
</div>
<form>
<input type="hidden"
  name="taskId"
  value="{{taskId}}"
>
<p>
  <input 
    class="form-control"
    type="text" 
    placeholder="Task name" 
    name="taskName"
    (keyup)="save()"
    [(ngModel)]="task.name"
    value="{{task.name}}">
</p>
<textarea 
  class="form-control" 
  placeholder="Descripción" 
  rows="6"
  name="taskDescription"
  (keyup)="save()"
  [(ngModel)]="task.description"
  >{{task.namedescription}}</textarea>
<label for="customRange2" class="form-label">Avance</label>
<input type="range" class="form-range" min="0" max="5" id="customRange2">
</form>
Sub-tareas
  <p *ngFor="let child of childs">
    <a class="btn btn-secondary" 
      routerLink="/task/{{child.id}}"
      >{{child.name}}</a>
  </p>
  <p>
    <a class="btn btn-secondary" 
      (click)="newChild(task.id)"
    >Nueva tarea</a>
</p>
<p>

<a (click)="delete()">Eliminar tarea</a>
</p>
